header {
	position: relative;
	padding: 0.5rem 0;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	position: sticky;
	top: 0;
	z-index: 1;
	text-align: center;
}

.navbar-brand {
    position: absolute;
    color: chocolate;
    font-size: 24px;
	font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
	margin: 0.5rem;
}

.img-logo {
	width: 50px;
	height: 50px;
}
