.sidebar {
    margin: 0 0;
    padding: 20px 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.h2 {
    display: block;
    word-wrap: break-word;
    color: #3c48c3;
    padding: 10px;
}

.h4 {
    color: darkgoldenrod;
}

.table {
    margin: 10px;
    text-align: left;
}

.center {
    text-align: center;
}

.wrapper {
    margin: 20px 10px;
    padding: 15px;
}

.wrapper:first-child {
    margin-top: 5px;
}