
.main {
  position: relative;
}

.bar-header{
  color: #000;
  margin: 10px 20px;
}

.array-container {
  position: relative;
  /* border: 2px dotted rgba(1, 16, 22, 0.647); */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 20px;
  padding: 20px;
}

.array-bars {
  /* border: 1px solid rgb(22, 1, 7); */
  margin-bottom: auto;
  padding-bottom: auto;
  position: absolute;
  left: 50%;
  width: fit-content;
  transform: translateX(-50%);
  margin: 10px;
}
  
.array-bar {
  display: inline-block;
  margin: 0 1px;
}

.controls {
  margin: 10px auto;
  position: absolute;
  left: 50%;
  width: fit-content;
  transform: translateX(-50%);
}

.btn {
  margin: auto 2px;
  padding: 5px;
}

.range-label {
  margin: 10px auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}