.header { grid-area: header; }
.main { grid-area: main; }
.sidebar { grid-area: sidebar; }

.App {
  display: grid;
  grid-template-areas:
    'header header header header  header header'
    'main main main main main sidebar'
    'main main main main main sidebar'
    'main main main main main sidebar'
    'main main main main main sidebar';
}

.App > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
}